<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.ProductDao">
	<resultMap id="productWithOrders" type="com.po.Product">
		<id property="id" column="pid"/>
		<result property="name" column="name"/>
		<result property="price" column="price"/>
		<collection property="ordersList" ofType="com.po.Orders">
			<id property="id" column="id"/>
			<result property="ordersn" column="ordersn"/>
		</collection>
	</resultMap>
	<select id="selectProductById" resultMap="productWithOrders" parameterType="Integer">
		select o.*,p.id as pid,p.name,p.price
		from orders o,orders_detail od,product p
		where od.orders_id = o.id 
		and od.product_id = p.id
		and p.id=#{pid}
	</select>
</mapper>